name: {{ conda_env_name }}
channels:
  - conda-forge
dependencies:
  - python
  - pip
  - jupyterhub
  - jupyterlab
  - jupyterlab-git
  - ipywidgets
  - nodejs
  - git
  - yaml
  - pyyaml
  - jupyter-server-proxy
  - scipy
  - dask
  - cartopy
  - shapely
  - plotly
  - netcdf4
  - cf-units
  - Markdown
  - toolz
  - tqdm
  - adjustText
  - aws-requests-auth
  - docstring_parser
  - filelock
  - metview-batch
  - metview-python
  - cdsapi
  - ecmwf-api-client
  - ecmwf-opendata
  - pip:
    - earthkit