name: {{ conda_env_name }}
channels:
  - conda-forge
dependencies:
  - python
  - pip
  - jupyterhub
  - jupyterlab
  - jupyterlab-git
  - ipywidgets
  - nodejs
  - git
  - yaml
  - pyyaml
  - tqdm
  - jupyter-server-proxy
  - metview-batch
  - metview-python
  - cartopy
  - shapely
  - netcdf4
  - plotly
  - Markdown
  - toolz
  - scipy
  - dask