name: {{ conda_env_name }}
channels:
  - conda-forge
dependencies:
  - python
  - jupyterhub
  - jupyterlab
  - jupyterlab-git
  - ipywidgets
  - nodejs
  - tqdm
  - git
  - yaml
  - pyyaml
  - pip
  - jupyter-server-proxy
  - metview
  - metview-python